 /* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,700&display=swap"); */

:root {
    --primary-color: #f2c94c;
  } 
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Lato", Monospace;
    color: #333333;
  }
  nav {
    text-align: center;
    background-color: var(--primary-color);
    padding: 0.3rem;
  }
/* header */
  header {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;
  }
  header img {
    width: 100%;
  }
  /* main */
  main {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }
  #txt-input {
    display: inline-flex;
    margin-top: 1.5rem;
    height: 20vh;
    width: 90%;
    font-family: Helvetica;
    font-size: large;
  }  
  #btn-translate {
    background-color: var(--primary-color);
    font-size: large;
    border: 0;
    border-radius: 1rem;
    font-family: inherit;
    padding: 1rem 2rem;
    margin: 1rem 0;
  }
  #output {
    border: 1px solid black;
    margin-top: 1.5rem;
    height: 20vh;
    width: 90%;
    overflow: scroll;
  }
  
  /* footer */
  footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    width: 100%;
  }
  .footer-header {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 1rem;
  }
  footer p {
    max-width: 800px;
    margin: auto;
    font-size: large;
  }  
  footer p:last-child {
    font-size: 90%;
    margin-top: 1rem;
  }
  